---
import jobs from "../data/jobs.json";

const jobList = jobs;
---

<h1>TNPSC Job Notifications</h1>

<table>

<thead>
<tr>
<th>No</th>
<th>Notification</th>
<th>Post</th>
<th>Apply From</th>
<th>Apply To</th>
<th>Exam Date</th>
<th>Link</th>
</tr>
</thead>

<tbody>

{jobList.map((job, index) => (

<tr>

<td>{index + 1}</td>

<td>{job.notification_no}</td>

<td>{job.post_name}</td>

<td>{job.apply_from}</td>

<td>{job.apply_to}</td>

<td>{job.exam_date}</td>

<td>
<a href={job.link} target="_blank">
View
</a>
</td>

</tr>

))}

</tbody>

</table>